.row {
  margin: 5px 0;
}
.bg-theme {
  background-color: $theme !important;
  color: $text-theme !important;
}
.btn-theme {
  background-color: $theme !important;
  color: $text-theme !important;
}
.btn.btn-default {
  background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(249,249,249,1) 74%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-right: 2px;
  &:hover {
    background: linear-gradient(0deg, rgba(240,240,240,1) 0%, rgba(252,252,252,1) 74%);
  }
}
.span-theme {
  color: $theme !important;
}
.span-theme-alt {
  color: $theme-alt !important;
}
.modal-content {
  .modal-body {
    margin: 0 !important;
  }
  .modal-header {
    padding: 0;
  }
}

.content-theme {
  color: $text-theme-alt;
  padding: 3px 2px;
  &:hover{
    color: $text-theme !important;
    background-color: $theme;
  }
}
.isActive {
  a {
    color: $theme;
    i {
      color: $theme-alt;
    }
    span {
      color: $text-theme;
    }
  }
}
a {
  text-decoration: none;
  color: $text-theme;
  &:hover {
    text-decoration: none;
    color: $theme;
  }
}
li {
  &.page-item {
    &.active {
      // background-color: $theme;
      .page-link {
        // background-color: $theme !important;
        color: $text-theme;
        background-color: $theme;
        border-color: $theme;
      }
    }
    .page-link {
      color: $theme;
    }
  }
}
.pull-right {
  margin: 8px 10px 0 0;
}

i.fas {
  font-weight: 600;
}
.fa-trash {
  color: red;
}