.row {
  margin: 5px 0;
}
.bg-theme {
  background-color: $theme !important;
  color: $text-theme !important;
}
.btn-theme {
  background-color: $theme !important;
  color: $text-theme !important;
}
.span-theme {
  color: $theme !important;
}
.span-theme-alt {
  color: $theme-alt !important;
}
.modal-body {
  margin: 5px !important;
}
.content-theme {
  color: black;
  padding: 3px 2px;
  &:hover{
    color: $text-theme !important;
    background-color: $theme;
  }
}
.isActive {
  a {
    color: $theme;
    i {
      color: $theme-alt;
    }
    span {
      color: $text-theme;
    }
  }
}
a {
  text-decoration: none;
  color: $text-theme;
  &:hover {
    text-decoration: none;
    color: $theme;
  }
}
// .page-item {
  // .page-item .active{
  //   .page-link {
  //     background-color: $theme;
  //     color: $text-theme;
  //     &:hover {
  //       color: $text-theme;
  //     }
  //   }
  li {
    &.page-item {
      &.active {
        // background-color: $theme;
        .page-link {
          // background-color: $theme !important;
          color: $text-theme;
          background-color: $theme;
          border-color: $theme;
        }
      }
      .page-link {
        color: $theme;
      }
    }
  }
    
  // }
  
  
// }