.form {
  .top {
    padding: 0 5px;
    margin-bottom: -30px;
    position: absolute;
    top: -8px;
    margin-left: 8px;
    border-radius: 4px;
    background-color: white;
    z-index: 99;
    &-disabled {
      background-color: #e9ecef;
    }
  }
  &-title {
    margin-bottom: 20px;
  }
}
.custom-file {
  position: relative;
  margin: 0 15px;
}
.buttonBottom {
  display: grid;
  grid-template-columns: 200px 200px;
  .btn {
    margin: 20px 30px;
  }
}
a {
  text-decoration: none;
}
label {
  font-size: 0.95em;
  color: #a0a0a0;
}
