th {
  cursor: pointer;
  padding: 2px;
}
.table-responsive {
  margin-bottom: 5px;
}
a {
  text-decoration: none;
  color: $text-theme-alt;
}
span {
  margin: 5px;
  line-height: 1.4em;
}
table.table {
  width: 100%;
  margin: 0;
  vertical-align: middle;
  border: none !important;
}
.table td {
  border: none !important;
  height: 1px;
  padding: 6px;
}
.outertable {
  margin: 10px;
}
thead {
  border-top: 1px solid rgba($color: #219186, $alpha: 0.8);
  border-bottom: 1px solid rgba($color: #219186, $alpha: 0.8);
  color: rgba($color: #219186, $alpha: 1);
}
tbody {
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.2);
}