@import "../style/abstracts/variables.scss";

@import "../style/page/detail.scss";
@import "../style/page/modal.scss";
@import "../style/page/table.scss";
@import "../style/page/form.scss";

@import "../style/base/reset.scss";


html {
  font-size: 12px !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.1em !important;
  letter-spacing: -0.4px !important;
}

html body {
  margin: 0;
  width: 100%;
}

#app {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: $theme-bg-app !important;
}

.main {
  margin-left: 225px !important;
  .container {
    margin: 0;
    padding: 0 10px;
  }
}
.closeSideMain {
  margin-left: 30px !important;
}

.pointer {
  cursor: pointer;
}
.not-allowed {
  cursor: not-allowed;
}
.notFound {
  margin: 50px 40px;
  span {
    font-size: 48px;
    font-weight: bold;
  }
}