@import "../style/abstracts/variables.scss";

@import "../style/page/detail.scss";
@import "../style/page/modal.scss";
@import "../style/page/table.scss";
@import "../style/page/form.scss";

@import "../style/base/reset.scss";

@import "~vue-select/src/scss/vue-select.scss";

html {
  font-size: 12px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.1em;
  letter-spacing: -0.2px;
  body {
    color: $text-alt;
    background-color: #fffbff;
  }
}

#app {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $theme-bg-app;
}

.fas {
  font-size: 1.3rem;
}

nav {
  color: $text;
}

.notFound {
  margin: 50px 40px;
  span {
    font-size: 48px;
    font-weight: bold;
  }
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
  }
}